In [1]:
import pandas as pd
import numpy as np

In [2]:
gdp = pd.read_csv('../data/uncleaned/gdp_yearly.csv')
print(gdp.shape)
gdp.head()

(5222, 8)

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME      Value Flag Codes
0      AUS       GDP     TOT  MLN_USD         A  1960  25071.833        NaN
1      AUS       GDP     TOT  MLN_USD         A  1961  25363.455        NaN
2      AUS       GDP     TOT  MLN_USD         A  1962  27953.904        NaN
3      AUS       GDP     TOT  MLN_USD         A  1963  30431.547        NaN
4      AUS       GDP     TOT  MLN_USD         A  1964  32742.466        NaN

In [3]:
gdp.MEASURE.unique()

array(['MLN_USD', 'USD_CAP'], dtype=object)

In [4]:
gdp.FREQUENCY.unique()

array(['A'], dtype=object)

In [5]:
gdp.SUBJECT.unique()

array(['TOT'], dtype=object)

In [6]:
gdp = gdp.drop(['Flag Codes'], axis=1)

In [7]:
gdp = gdp[(gdp['MEASURE']=='MLN_USD')]

In [8]:
gdp.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME      Value
0      AUS       GDP     TOT  MLN_USD         A  1960  25071.833
1      AUS       GDP     TOT  MLN_USD         A  1961  25363.455
2      AUS       GDP     TOT  MLN_USD         A  1962  27953.904
3      AUS       GDP     TOT  MLN_USD         A  1963  30431.547
4      AUS       GDP     TOT  MLN_USD         A  1964  32742.466

In [9]:
gdp.nunique()

LOCATION       67
INDICATOR       1
SUBJECT         1
MEASURE         1
FREQUENCY       1
TIME           63
Value        2675
dtype: int64

In [10]:
gdp = gdp.drop(['INDICATOR','SUBJECT','FREQUENCY','MEASURE'], axis=1)
gdp.reset_index(drop=True, inplace=True)

In [11]:
gdp.dtypes

LOCATION     object
TIME          int64
Value       float64
dtype: object

In [12]:
gdp['LOCATION']= gdp['LOCATION'].astype('string')
gdp['TIME']= gdp['TIME'].astype('string')

In [13]:
gdp.dtypes

LOCATION     string
TIME         string
Value       float64
dtype: object

In [14]:
gdp.isna().sum()

LOCATION    0
TIME        0
Value       0
dtype: int64

In [15]:
gdp.shape

(2675, 3)

In [16]:
highestmin = 1
highestmincountry = ''
lowestmax = 9999
lowestmaxcountry = ''

for country in gdp.LOCATION.unique():
    tempdf = gdp[gdp['LOCATION']==country]
    minyear = int(tempdf.TIME.min())
    if(highestmin<minyear):
        highestmin=minyear
        highestmincountry = country
        
    maxyear = int(tempdf.TIME.max())
    if(lowestmax>maxyear):
        lowestmax=maxyear
        lowestmaxcountry=country
    missingyear = []
    for i in range(minyear,maxyear):
        if((tempdf['TIME']==str(i)).any() == False):
            tempseries = pd.Series([str(i)])
            missingyear = pd.concat([missingyear,tempseries])
            missingyear.reset_index(inplace=True, drop = True)
    
    print('Country = ', country, 'Minimum Year = ',minyear, 'Maximum Year = ', maxyear, 'Missing Years = ', missingyear)
    
print('Highest Min = ', highestmin, ' Country = ', highestmincountry)
print('Lowest Max = ', lowestmax, ' Country = ', lowestmaxcountry)

Country =  AUS Minimum Year =  1960 Maximum Year =  2021 Missing Years =  []
Country =  AUT Minimum Year =  1970 Maximum Year =  2022 Missing Years =  []
Country =  BEL Minimum Year =  1970 Maximum Year =  2022 Missing Years =  []
Country =  CAN Minimum Year =  1961 Maximum Year =  2022 Missing Years =  []
Country =  CZE Minimum Year =  1990 Maximum Year =  2022 Missing Years =  []
Country =  DNK Minimum Year =  1966 Maximum Year =  2022 Missing Years =  []
Country =  FIN Minimum Year =  1970 Maximum Year =  2022 Missing Years =  []
Country =  FRA Minimum Year =  1960 Maximum Year =  2022 Missing Years =  []
Country =  DEU Minimum Year =  1970 Maximum Year =  2022 Missing Years =  []
Country =  GRC Minimum Year =  1960 Maximum Year =  2022 Missing Years =  []
Country =  HUN Minimum Year =  1991 Maximum Year =  2022 Missing Years =  []
Country =  ISL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  []
Country =  IRL Minimum Year =  1970 Maximum Year =  2022 Missing Years =  []
Country =  ITA Minimum Year =  1970 Maximum Year =  2022 Missing Years =  []
Country =  JPN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  []
Country =  KOR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  []
Country =  LUX Minimum Year =  1970 Maximum Year =  2022 Missing Years =  []
Country =  MEX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  []
Country =  NLD Minimum Year =  1969 Maximum Year =  2022 Missing Years =  []
Country =  NZL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  []
Country =  NOR Minimum Year =  1970 Maximum Year =  2022 Missing Years =  []
Country =  POL Minimum Year =  1990 Maximum Year =  2022 Missing Years =  []
Country =  PRT Minimum Year =  1970 Maximum Year =  2022 Missing Years =  []
Country =  SVK Minimum Year =  1992 Maximum Year =  2022 Missing Years =  []
Country =  ESP Minimum Year =  1970 Maximum Year =  2022 Missing Years =  []
Country =  SWE Minimum Year =  1960 Maximum Year =  2022 Missing Years =  []
Country =  CHE Minimum Year =  1970 Maximum Year =  2022 Missing Years =  []
Country =  TUR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  []
Country =  GBR Minimum Year =  1960 Maximum Year =  2022 Missing Years =  []
Country =  USA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  []
Country =  CHL Minimum Year =  1986 Maximum Year =  2021 Missing Years =  []
Country =  CHN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  []
Country =  COL Minimum Year =  1975 Maximum Year =  2021 Missing Years =  []
Country =  EST Minimum Year =  1993 Maximum Year =  2022 Missing Years =  []
Country =  IND Minimum Year =  1970 Maximum Year =  2019 Missing Years =  []
Country =  IDN Minimum Year =  1993 Maximum Year =  2022 Missing Years =  []
Country =  ISR Minimum Year =  1977 Maximum Year =  2021 Missing Years =  []
Country =  RUS Minimum Year =  1995 Maximum Year =  2020 Missing Years =  []
Country =  SVN Minimum Year =  1990 Maximum Year =  2022 Missing Years =  []
Country =  ZAF Minimum Year =  1970 Maximum Year =  2020 Missing Years =  []
Country =  DEW Minimum Year =  1970 Maximum Year =  1991 Missing Years =  []
Country =  OECD Minimum Year =  1970 Maximum Year =  2021 Missing Years =  []
Country =  OECDE Minimum Year =  1994 Maximum Year =  2021 Missing Years =  []
Country =  LVA Minimum Year =  1994 Maximum Year =  2022 Missing Years =  []
Country =  BRA Minimum Year =  1995 Maximum Year =  2019 Missing Years =  []
Country =  LTU Minimum Year =  1995 Maximum Year =  2022 Missing Years =  []
Country =  SAU Minimum Year =  1970 Maximum Year =  2021 Missing Years =  []
Country =  EA19 Minimum Year =  1995 Maximum Year =  2022 Missing Years =  []
Country =  ARG Minimum Year =  2004 Maximum Year =  2021 Missing Years =  []
Country =  CRI Minimum Year =  1991 Maximum Year =  2021 Missing Years =  []
Country =  BGR Minimum Year =  1995 Maximum Year =  2021 Missing Years =  []
Country =  HRV Minimum Year =  1995 Maximum Year =  2021 Missing Years =  []
Country =  CYP Minimum Year =  1995 Maximum Year =  2021 Missing Years =  []
Country =  MLT Minimum Year =  1995 Maximum Year =  2021 Missing Years =  []
Country =  ROU Minimum Year =  1995 Maximum Year =  2021 Missing Years =  []
Country =  MKD Minimum Year =  2000 Maximum Year =  2021 Missing Years =  []
Country =  ZMB Minimum Year =  2006 Maximum Year =  2020 Missing Years =  []
Country =  HKG Minimum Year =  1990 Maximum Year =  2021 Missing Years =  []
Country =  MDG Minimum Year =  2007 Maximum Year =  2020 Missing Years =  []
Country =  MAR Minimum Year =  2007 Maximum Year =  2021 Missing Years =  []
Country =  SGP Minimum Year =  1990 Maximum Year =  2020 Missing Years =  []
Country =  EU27_2020 Minimum Year =  1995 Maximum Year =  2022 Missing Years =  []
Country =  ALB Minimum Year =  1997 Maximum Year =  2020 Missing Years =  []
Country =  SRB Minimum Year =  2000 Maximum Year =  2021 Missing Years =  []
Country =  GEO Minimum Year =  2010 Maximum Year =  2020 Missing Years =  []
Country =  CMR Minimum Year =  1993 Maximum Year =  2020 Missing Years =  []
Country =  SEN Minimum Year =  1999 Maximum Year =  2020 Missing Years =  []
Highest Min =  2010  Country =  GEO
Lowest Max =  1991  Country =  DEW

In [17]:
from pathlib import Path 
filepath = Path('../data/temp/gdp_yearly_cleaned.csv')
gdp.to_csv(filepath, mode='wb', index=False)