In [7]:
import pandas as pd

In [8]:
house_spend_df = pd.read_csv('../data/household_spend.csv')

In [9]:
house_spend_df.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME         Value Flag Codes
0      AUS     HHEXP     TOT  MLN_USD         A  1970  30476.510257        NaN
1      AUS     HHEXP     TOT  MLN_USD         A  1971  32799.844017        NaN
2      AUS     HHEXP     TOT  MLN_USD         A  1972  35590.183565        NaN
3      AUS     HHEXP     TOT  MLN_USD         A  1973  41114.456624        NaN
4      AUS     HHEXP     TOT  MLN_USD         A  1974  48461.851872        NaN

In [23]:
print('Number of rows',house_spend_df.shape[0])
print('Number of unique values in each column',house_spend_df.nunique())

print('Unique value of LOCATION column',house_spend_df['LOCATION'].unique())
print('Unique value of SUBJECT column',house_spend_df['SUBJECT'].unique())
print('Unique value of MEASURE column',house_spend_df['MEASURE'].unique())

print('Unique value of TIME column',house_spend_df['TIME'].unique())

Number of rows 8862
Number of unique values in each column LOCATION       47
INDICATOR       1
SUBJECT         3
MEASURE         4
FREQUENCY       1
TIME           53
Value        8849
dtype: int64
Unique value of INDICATOR column ['HHEXP']
Unique value of LOCATION column ['AUS' 'AUT' 'BEL' 'CAN' 'CZE' 'DNK' 'FIN' 'FRA' 'DEU' 'GRC' 'HUN' 'ISL'
 'IRL' 'ITA' 'JPN' 'KOR' 'LUX' 'MEX' 'NLD' 'NZL' 'NOR' 'POL' 'PRT' 'SVK'
 'ESP' 'SWE' 'CHE' 'TUR' 'GBR' 'USA' 'CHL' 'CHN' 'COL' 'EST' 'IND' 'IDN'
 'ISR' 'RUS' 'SVN' 'ZAF' 'EA' 'EU' 'LVA' 'BRA' 'LTU' 'CRI' 'OAVG']
Unique value of SUBJECT column ['TOT' 'GOVTRANSF' 'HOUSING']
Unique value of MEASURE column ['MLN_USD' 'PC_GDP' 'AGRWTH' 'PC_DI']
Unique value of FREQUENCY column ['A']
Unique value of TIME column [1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022]
Unique value of Value column [   30476.51025711    32799.84401654    35590.18356477 ...
 10308127.0859147   9570885.08618792 10123543.3682292 ]
Number of nan values in Value column 0

KeyError: 'Flag Codes'

In [22]:
print('Unique value of Flag Codes column',house_spend_df['Flag Codes'].unique())
# Unique value of Flag Codes column [nan 'E' 'B']
# Hence dropping Flag Codes
house_spend_df = house_spend_df.drop('Flag Codes',axis=1)

In [32]:
print('Unique value of Value column',house_spend_df['Value'].unique())
print('Number of nan values in Value column',house_spend_df['Value'].isnull().sum())
print('Type of data in Value column that are not float',(house_spend_df['Value'].map(type)!= float).sum())

Unique value of Value column [   30476.51025711    32799.84401654    35590.18356477 ...
 10308127.0859147   9570885.08618792 10123543.3682292 ]
Number of nan values in Value column 0
Type of data in Value column that are not float 0

In [53]:
house_spend_df_dropped = house_spend_df[house_spend_df['SUBJECT'] == 'TOT']
house_spend_df_dropped = house_spend_df_dropped[house_spend_df_dropped['MEASURE'] == 'MLN_USD']

In [36]:
print('Unique value of FREQUENCY column',house_spend_df['FREQUENCY'].unique())
# Unique value of FREQUENCY column ['A']
# Hence dropping FREQUENCY
house_spend_df = house_spend_df.drop('FREQUENCY',axis=1)

KeyError: 'FREQUENCY'

In [39]:
print('Unique value of INDICATOR column',house_spend_df['INDICATOR'].unique())
# Unique value of INDICATOR column ['HHEXP']
# Hence dropping INDICATOR
house_spend_df = house_spend_df.drop('INDICATOR',axis=1)

Unique value of INDICATOR column ['HHEXP']

In [40]:
house_spend_df.head()

  LOCATION SUBJECT  MEASURE  TIME         Value
0      AUS     TOT  MLN_USD  1970  30476.510257
1      AUS     TOT  MLN_USD  1971  32799.844017
2      AUS     TOT  MLN_USD  1972  35590.183565
3      AUS     TOT  MLN_USD  1973  41114.456624
4      AUS     TOT  MLN_USD  1974  48461.851872

In [47]:
# For Time
house_spend_df_time_clean = house_spend_df.groupby("LOCATION")["TIME"].count()
print(house_spend_df_time_clean.head(50))

max_year = -1
min_year = 1000000

house_spend_df

LOCATION
AUS     260
AUT     234
BEL     234
BRA      79
CAN     236
CHE     233
CHL     108
CHN      76
COL      87
CRI     131
CZE     154
DEU     237
DNK     235
EA      130
ESP     237
EST     141
EU      130
FIN     254
FRA     252
GBR     234
GRC     235
HUN     150
IDN     101
IND     139
IRL     234
ISL     187
ISR     162
ITA     234
JPN     234
KOR     254
LTU     134
LUX     234
LVA     136
MEX     225
NLD     238
NOR     251
NZL     229
OAVG     87
POL     154
PRT     234
RUS     123
SVK     145
SVN     153
SWE     237
TUR     207
USA     259
ZAF     204
Name: TIME, dtype: int64

In [52]:
min_high = 1
min_high_country = ''
max_low = 9999
max_low_country  = ''

for country in house_spend_df.LOCATION.unique():
    #print(country)
    tempdf = house_spend_df[house_spend_df['LOCATION']==country]
    minyear = int(tempdf.TIME.min())
    if(min_high<minyear):
        min_high=minyear
        min_high_country = country

    maxyear = int(tempdf.TIME.max())
    if(max_low>maxyear):
        max_low=maxyear
        max_low_country = country
    missingyear = []
    for i in range(minyear,maxyear):
        if((tempdf['TIME']==str(i)).any() == False):
            tempseries = pd.Series([str(i)])
            missingyear = pd.Series(missingyear)
            pd.concat([missingyear, tempseries])

    print('Country = ', country, 'Minimum Year = ',minyear, 'Maximum Year = ', maxyear, 'Missing Years = ', missingyear)

print('Highest Min = ', min_high, ' Country = ', min_high_country)
print('Lowest Max = ', max_low, ' Country = ', max_low_country )

C:\Users\unair2\AppData\Local\Temp\ipykernel_4168\3875225121.py:22: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  missingyear = pd.Series(missingyear)

Country =  AUS Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  AUT Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BEL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CAN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CZE Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  DNK Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  FIN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  FRA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  DEU Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  GRC Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  HUN Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ISL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IRL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ITA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  JPN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  KOR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  LUX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  MEX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NLD Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  NZL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NOR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  POL Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  PRT Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  SVK Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ESP Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  SWE Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHE Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  TUR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GBR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  USA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHL Minimum Year =  1986 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHN Minimum Year =  1978 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  COL Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EST Minimum Year =  1993 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IND Minimum Year =  1970 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  IDN Minimum Year =  1993 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ISR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  RUS Minimum Year =  1989 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  SVN Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ZAF Minimum Year =  1970 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  EA Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EU Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  LVA Minimum Year =  1994 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BRA Minimum Year =  1995 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  LTU Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CRI Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  OAVG Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Highest Min =  1995  Country =  COL
Lowest Max =  2019  Country =  IND

In [54]:
# house_spend_df_dropped
min_high = 1
min_high_country = ''
max_low = 9999
max_low_country  = ''

for country in house_spend_df_dropped.LOCATION.unique():
    #print(country)
    tempdf = house_spend_df_dropped[house_spend_df_dropped['LOCATION']==country]
    minyear = int(tempdf.TIME.min())
    if(min_high<minyear):
        min_high=minyear
        min_high_country = country

    maxyear = int(tempdf.TIME.max())
    if(max_low>maxyear):
        max_low=maxyear
        max_low_country = country
    missingyear = []
    for i in range(minyear,maxyear):
        if((tempdf['TIME']==str(i)).any() == False):
            tempseries = pd.Series([str(i)])
            missingyear = pd.Series(missingyear)
            pd.concat([missingyear, tempseries])

    print('Country = ', country, 'Minimum Year = ',minyear, 'Maximum Year = ', maxyear, 'Missing Years = ', missingyear)

print('Highest Min = ', min_high, ' Country = ', min_high_country)
print('Lowest Max = ', max_low, ' Country = ', max_low_country )

C:\Users\unair2\AppData\Local\Temp\ipykernel_4168\83512329.py:23: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  missingyear = pd.Series(missingyear)

Country =  AUS Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  AUT Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BEL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CAN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CZE Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  DNK Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  FIN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  FRA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  DEU Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GRC Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  HUN Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ISL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IRL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ITA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  JPN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  KOR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  LUX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  MEX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NLD Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NZL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NOR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  POL Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  PRT Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  SVK Minimum Year =  1993 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ESP Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  SWE Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHE Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  TUR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GBR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  USA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHL Minimum Year =  1994 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHN Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  COL Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EST Minimum Year =  1994 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IND Minimum Year =  1990 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  IDN Minimum Year =  1993 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ISR Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  RUS Minimum Year =  1995 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  SVN Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ZAF Minimum Year =  1970 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  LVA Minimum Year =  1994 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BRA Minimum Year =  1995 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  LTU Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CRI Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EA Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EU Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Highest Min =  1995  Country =  COL
Lowest Max =  2019  Country =  IND