In [1]:
import pandas as pd

In [2]:
house_spend_df = pd.read_csv('../data/household_spend.csv')

In [3]:
house_spend_df.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME         Value Flag Codes
0      AUS     HHEXP     TOT  MLN_USD         A  1970  30476.510257        NaN
1      AUS     HHEXP     TOT  MLN_USD         A  1971  32799.844017        NaN
2      AUS     HHEXP     TOT  MLN_USD         A  1972  35590.183565        NaN
3      AUS     HHEXP     TOT  MLN_USD         A  1973  41114.456624        NaN
4      AUS     HHEXP     TOT  MLN_USD         A  1974  48461.851872        NaN

In [4]:
print('Number of rows',house_spend_df.shape[0])
print('Number of unique values in each column',house_spend_df.nunique())

print('Unique value of LOCATION column',house_spend_df['LOCATION'].unique())
print('Unique value of SUBJECT column',house_spend_df['SUBJECT'].unique())
print('Unique value of MEASURE column',house_spend_df['MEASURE'].unique())

print('Unique value of TIME column',house_spend_df['TIME'].unique())

Number of rows 8862
Number of unique values in each column LOCATION        47
INDICATOR        1
SUBJECT          3
MEASURE          4
FREQUENCY        1
TIME            53
Value         8849
Flag Codes       2
dtype: int64
Unique value of LOCATION column ['AUS' 'AUT' 'BEL' 'CAN' 'CZE' 'DNK' 'FIN' 'FRA' 'DEU' 'GRC' 'HUN' 'ISL'
 'IRL' 'ITA' 'JPN' 'KOR' 'LUX' 'MEX' 'NLD' 'NZL' 'NOR' 'POL' 'PRT' 'SVK'
 'ESP' 'SWE' 'CHE' 'TUR' 'GBR' 'USA' 'CHL' 'CHN' 'COL' 'EST' 'IND' 'IDN'
 'ISR' 'RUS' 'SVN' 'ZAF' 'EA' 'EU' 'LVA' 'BRA' 'LTU' 'CRI' 'OAVG']
Unique value of SUBJECT column ['TOT' 'GOVTRANSF' 'HOUSING']
Unique value of MEASURE column ['MLN_USD' 'PC_GDP' 'AGRWTH' 'PC_DI']
Unique value of TIME column [1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022]

In [5]:
print('Unique value of Flag Codes column',house_spend_df['Flag Codes'].unique())
# Unique value of Flag Codes column [nan 'E' 'B']
# Hence dropping Flag Codes
house_spend_df = house_spend_df.drop('Flag Codes',axis=1)

Unique value of Flag Codes column [nan 'E' 'B']

In [6]:
print('Unique value of Value column',house_spend_df['Value'].unique())
print('Number of nan values in Value column',house_spend_df['Value'].isnull().sum())
print('Type of data in Value column that are not float',(house_spend_df['Value'].map(type)!= float).sum())

Unique value of Value column [   30476.51025711    32799.84401654    35590.18356477 ...
 10308127.0859147   9570885.08618792 10123543.3682292 ]
Number of nan values in Value column 0
Type of data in Value column that are not float 0

In [7]:
house_spend_df_dropped = house_spend_df[house_spend_df['SUBJECT'] == 'TOT']
house_spend_df_dropped = house_spend_df_dropped[house_spend_df_dropped['MEASURE'] == 'MLN_USD']

In [8]:
print('Unique value of FREQUENCY column',house_spend_df['FREQUENCY'].unique())
# Unique value of FREQUENCY column ['A']
# Hence dropping FREQUENCY
house_spend_df = house_spend_df.drop('FREQUENCY',axis=1)

Unique value of FREQUENCY column ['A']

In [9]:
print('Unique value of INDICATOR column',house_spend_df['INDICATOR'].unique())
# Unique value of INDICATOR column ['HHEXP']
# Hence dropping INDICATOR
house_spend_df = house_spend_df.drop('INDICATOR',axis=1)

Unique value of INDICATOR column ['HHEXP']

In [15]:
house_spend_df.head()
house_spend_df_dropped = house_spend_df[house_spend_df['MEASURE'] == 'MLN_USD']

In [16]:
# For Time
house_spend_df_time_clean = house_spend_df.groupby("LOCATION")["TIME"].count()
print(house_spend_df_time_clean.head(50))

max_year = -1
min_year = 1000000

house_spend_df

LOCATION
AUS     260
AUT     234
BEL     234
BRA      79
CAN     236
CHE     233
CHL     108
CHN      76
COL      87
CRI     131
CZE     154
DEU     237
DNK     235
EA      130
ESP     237
EST     141
EU      130
FIN     254
FRA     252
GBR     234
GRC     235
HUN     150
IDN     101
IND     139
IRL     234
ISL     187
ISR     162
ITA     234
JPN     234
KOR     254
LTU     134
LUX     234
LVA     136
MEX     225
NLD     238
NOR     251
NZL     229
OAVG     87
POL     154
PRT     234
RUS     123
SVK     145
SVN     153
SWE     237
TUR     207
USA     259
ZAF     204
Name: TIME, dtype: int64

     LOCATION SUBJECT  MEASURE  TIME         Value
0         AUS     TOT  MLN_USD  1970  3.047651e+04
1         AUS     TOT  MLN_USD  1971  3.279984e+04
2         AUS     TOT  MLN_USD  1972  3.559018e+04
3         AUS     TOT  MLN_USD  1973  4.111446e+04
4         AUS     TOT  MLN_USD  1974  4.846185e+04
...       ...     ...      ...   ...           ...
8857       EU     TOT  MLN_USD  2017  9.347078e+06
8858       EU     TOT  MLN_USD  2018  9.809684e+06
8859       EU     TOT  MLN_USD  2019  1.030813e+07
8860       EU     TOT  MLN_USD  2020  9.570885e+06
8861       EU     TOT  MLN_USD  2021  1.012354e+07

[8862 rows x 5 columns]

In [17]:
min_high = 1
min_high_country = ''
max_low = 9999
max_low_country  = ''

for country in house_spend_df.LOCATION.unique():
    #print(country)
    tempdf = house_spend_df[house_spend_df['LOCATION']==country]
    minyear = int(tempdf.TIME.min())
    if(min_high<minyear):
        min_high=minyear
        min_high_country = country

    maxyear = int(tempdf.TIME.max())
    if(max_low>maxyear):
        max_low=maxyear
        max_low_country = country
    missingyear = []
    for i in range(minyear,maxyear):
        if((tempdf['TIME']==str(i)).any() == False):
            tempseries = pd.Series([str(i)])
            missingyear = pd.Series(missingyear)
            pd.concat([missingyear, tempseries])

    print('Country = ', country, 'Minimum Year = ',minyear, 'Maximum Year = ', maxyear, 'Missing Years = ', missingyear)

print('Highest Min = ', min_high, ' Country = ', min_high_country)
print('Lowest Max = ', max_low, ' Country = ', max_low_country )

C:\Users\unair2\AppData\Local\Temp\ipykernel_23248\3875225121.py:22: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  missingyear = pd.Series(missingyear)

Country =  AUS Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  AUT Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BEL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CAN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CZE Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  DNK Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  FIN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  FRA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  DEU Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  GRC Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  HUN Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ISL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IRL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ITA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  JPN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  KOR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  LUX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  MEX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NLD Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  NZL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NOR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  POL Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  PRT Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  SVK Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ESP Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  SWE Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHE Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  TUR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GBR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  USA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHL Minimum Year =  1986 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHN Minimum Year =  1978 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  COL Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EST Minimum Year =  1993 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IND Minimum Year =  1970 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  IDN Minimum Year =  1993 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ISR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  RUS Minimum Year =  1989 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  SVN Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ZAF Minimum Year =  1970 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  EA Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EU Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  LVA Minimum Year =  1994 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BRA Minimum Year =  1995 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  LTU Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CRI Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  OAVG Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Highest Min =  1995  Country =  COL
Lowest Max =  2019  Country =  IND

In [39]:
# house_spend_df_dropped
min_high = 1
min_high_country = ''
max_low = 9999
max_low_country  = ''

for country in house_spend_df_dropped.LOCATION.unique():
    #print(country)
    tempdf = house_spend_df_dropped[house_spend_df_dropped['LOCATION']==country]
    minyear = int(tempdf.TIME.min())
    if(min_high<minyear):
        min_high=minyear
        min_high_country = country

    maxyear = int(tempdf.TIME.max())
    if(max_low>maxyear):
        max_low=maxyear
        max_low_country = country
    missingyear = []
    for i in range(minyear,maxyear):
        if((tempdf['TIME']==str(i)).any() == False):
            tempseries = pd.Series([str(i)])
            missingyear = pd.Series(missingyear)
            pd.concat([missingyear, tempseries])

    print('Country = ', country, 'Minimum Year = ',minyear, 'Maximum Year = ', maxyear, 'Missing Years = ', missingyear)
    house_spend_df_dropped.loc[house_spend_df_dropped.LOCATION == country, 'MAXYEAR'] = maxyear
    house_spend_df_dropped.loc[house_spend_df_dropped.LOCATION == country, 'MINYEAR'] = minyear
#     house_spend_df_dropped['MINYEAR'] = minyear
#     house_spend_df_dropped['MAXYEAR'] = maxyear
    
print('Highest Min = ', min_high, ' Country = ', min_high_country)
print('Lowest Max = ', max_low, ' Country = ', max_low_country )

C:\Users\unair2\AppData\Local\Temp\ipykernel_23248\3001009276.py:23: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  missingyear = pd.Series(missingyear)
C:\Users\unair2\AppData\Local\Temp\ipykernel_23248\3001009276.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_spend_df_dropped.loc[house_spend_df_dropped.LOCATION == country, 'MAXYEAR'] = maxyear
C:\Users\unair2\AppData\Local\Temp\ipykernel_23248\3001009276.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_spend_df_dropped.loc[house_spend_df_dropped.LOCATION == country, 'MINYEAR'] = minyear
C:\Users\unair2\AppData\Local\Temp\ipykernel_23248\3001009276.py:23: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  missingyear = pd.Series(missingyear)

Country =  AUS Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  AUT Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BEL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CAN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CZE Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  DNK Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  FIN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  FRA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  DEU Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GRC Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  HUN Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ISL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IRL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ITA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  JPN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  KOR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  LUX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  MEX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NLD Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NZL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NOR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  POL Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  PRT Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  SVK Minimum Year =  1993 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ESP Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  SWE Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHE Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  TUR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GBR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  USA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHL Minimum Year =  1994 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHN Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  COL Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EST Minimum Year =  1994 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IND Minimum Year =  1990 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  IDN Minimum Year =  1993 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ISR Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  RUS Minimum Year =  1995 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  SVN Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ZAF Minimum Year =  1970 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  LVA Minimum Year =  1994 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BRA Minimum Year =  1995 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  LTU Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CRI Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EA Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EU Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Highest Min =  1995  Country =  COL
Lowest Max =  2019  Country =  IND

In [34]:
# 
# house_spend_df_dropped.head(10)
# countries_under_consideration = ['AUS','AUT','BEL','CAN','NLD']
# house_spend_df_dropped.loc[house_spend_df_dropped['LOCATION'].isin(countries_under_consideration)].head(50)
# tranformed_data = pd.DataFrame()
# tranformed_data['YEAR'] =house_spend_df_dropped.loc[0:51,'TIME']
# for country in countries_under_consideration:
#     country_data = house_spend_df_dropped[house_spend_df_dropped['LOCATION'] == country]
    
#     print(country_data)
#     tranformed_data[country +'household_spend_mln'] = country_data.loc[0:51,'Value']
# #     print(country_data.head(3))
    
    
# tranformed_data.head(52)

   LOCATION SUBJECT  MEASURE  TIME          Value
0       AUS     TOT  MLN_USD  1970   30476.510257
1       AUS     TOT  MLN_USD  1971   32799.844017
2       AUS     TOT  MLN_USD  1972   35590.183565
3       AUS     TOT  MLN_USD  1973   41114.456624
4       AUS     TOT  MLN_USD  1974   48461.851872
5       AUS     TOT  MLN_USD  1975   52423.961400
6       AUS     TOT  MLN_USD  1976   56900.985131
7       AUS     TOT  MLN_USD  1977   61232.679942
8       AUS     TOT  MLN_USD  1978   66856.777025
9       AUS     TOT  MLN_USD  1979   74341.227769
10      AUS     TOT  MLN_USD  1980   84610.820174
11      AUS     TOT  MLN_USD  1981   97471.726119
12      AUS     TOT  MLN_USD  1982  105755.748306
13      AUS     TOT  MLN_USD  1983  109590.118116
14      AUS     TOT  MLN_USD  1984  113898.977822
15      AUS     TOT  MLN_USD  1985  124529.775230
16      AUS     TOT  MLN_USD  1986  130248.949813
17      AUS     TOT  MLN_USD  1987  137662.806790
18      AUS     TOT  MLN_USD  1988  149366.901166
19      AUS     TOT  MLN_USD  1989  162749.855492
20      AUS     TOT  MLN_USD  1990  169853.765646
21      AUS     TOT  MLN_USD  1991  177805.033539
22      AUS     TOT  MLN_USD  1992  185891.953809
23      AUS     TOT  MLN_USD  1993  194157.359581
24      AUS     TOT  MLN_USD  1994  207909.459784
25      AUS     TOT  MLN_USD  1995  219388.825412
26      AUS     TOT  MLN_USD  1996  229298.957508
27      AUS     TOT  MLN_USD  1997  245206.343554
28      AUS     TOT  MLN_USD  1998  259904.750783
29      AUS     TOT  MLN_USD  1999  276904.420280
30      AUS     TOT  MLN_USD  2000  296144.255307
31      AUS     TOT  MLN_USD  2001  308322.302541
32      AUS     TOT  MLN_USD  2002  325842.256253
33      AUS     TOT  MLN_USD  2003  340377.571223
34      AUS     TOT  MLN_USD  2004  365384.965378
35      AUS     TOT  MLN_USD  2005  382676.631347
36      AUS     TOT  MLN_USD  2006  407588.979330
37      AUS     TOT  MLN_USD  2007  438388.987210
38      AUS     TOT  MLN_USD  2008  444942.230315
39      AUS     TOT  MLN_USD  2009  465988.600277
40      AUS     TOT  MLN_USD  2010  491893.346534
41      AUS     TOT  MLN_USD  2011  526988.163578
42      AUS     TOT  MLN_USD  2012  543065.524427
43      AUS     TOT  MLN_USD  2013  577621.553109
44      AUS     TOT  MLN_USD  2014  595208.682962
45      AUS     TOT  MLN_USD  2015  611257.658170
46      AUS     TOT  MLN_USD  2016  637321.742774
47      AUS     TOT  MLN_USD  2017  650660.331484
48      AUS     TOT  MLN_USD  2018  673616.626363
49      AUS     TOT  MLN_USD  2019  651797.857468
50      AUS     TOT  MLN_USD  2020  669369.661746
51      AUS     TOT  MLN_USD  2021  721316.817303
    LOCATION SUBJECT  MEASURE  TIME          Value
52       AUT     TOT  MLN_USD  1970   14480.355037
53       AUT     TOT  MLN_USD  1971   16109.470773
54       AUT     TOT  MLN_USD  1972   17672.062387
55       AUT     TOT  MLN_USD  1973   19624.030254
56       AUT     TOT  MLN_USD  1974   22315.256725
57       AUT     TOT  MLN_USD  1975   24960.477572
58       AUT     TOT  MLN_USD  1976   27526.232933
59       AUT     TOT  MLN_USD  1977   31201.675641
60       AUT     TOT  MLN_USD  1978   32803.501477
61       AUT     TOT  MLN_USD  1979   37413.307510
62       AUT     TOT  MLN_USD  1980   42486.552596
63       AUT     TOT  MLN_USD  1981   46883.157172
64       AUT     TOT  MLN_USD  1982   50439.013554
65       AUT     TOT  MLN_USD  1983   55442.135421
66       AUT     TOT  MLN_USD  1984   56311.934660
67       AUT     TOT  MLN_USD  1985   59331.739698
68       AUT     TOT  MLN_USD  1986   61952.042149
69       AUT     TOT  MLN_USD  1987   65406.114137
70       AUT     TOT  MLN_USD  1988   69598.598030
71       AUT     TOT  MLN_USD  1989   75244.205645
72       AUT     TOT  MLN_USD  1990   81874.113564
73       AUT     TOT  MLN_USD  1991   87145.584348
74       AUT     TOT  MLN_USD  1992   92581.480207
75       AUT     TOT  MLN_USD  1993   94988.040746
76       AUT     TOT  MLN_USD  1994   98951.253928
77       AUT     TOT  MLN_USD  1995  101895.906955
78       AUT     TOT  MLN_USD  1996  107059.764401
79       AUT     TOT  MLN_USD  1997  109367.168233
80       AUT     TOT  MLN_USD  1998  114393.720782
81       AUT     TOT  MLN_USD  1999  117824.550921
82       AUT     TOT  MLN_USD  2000  126631.907543
83       AUT     TOT  MLN_USD  2001  128934.784786
84       AUT     TOT  MLN_USD  2002  133123.696938
85       AUT     TOT  MLN_USD  2003  139411.253943
86       AUT     TOT  MLN_USD  2004  146063.783398
87       AUT     TOT  MLN_USD  2005  154029.882967
88       AUT     TOT  MLN_USD  2006  162335.389314
89       AUT     TOT  MLN_USD  2007  168215.896038
90       AUT     TOT  MLN_USD  2008  174583.583309
91       AUT     TOT  MLN_USD  2009  178341.142430
92       AUT     TOT  MLN_USD  2010  184797.838966
93       AUT     TOT  MLN_USD  2011  194567.048510
94       AUT     TOT  MLN_USD  2012  199057.684931
95       AUT     TOT  MLN_USD  2013  205604.388328
96       AUT     TOT  MLN_USD  2014  210370.528937
97       AUT     TOT  MLN_USD  2015  213261.769245
98       AUT     TOT  MLN_USD  2016  224616.247194
99       AUT     TOT  MLN_USD  2017  231585.925692
100      AUT     TOT  MLN_USD  2018  241762.643748
101      AUT     TOT  MLN_USD  2019  250649.592713
102      AUT     TOT  MLN_USD  2020  235682.174842
103      AUT     TOT  MLN_USD  2021  249626.463432
    LOCATION SUBJECT  MEASURE  TIME          Value
104      BEL     TOT  MLN_USD  1970   17870.489872
105      BEL     TOT  MLN_USD  1971   19545.885032
106      BEL     TOT  MLN_USD  1972   21409.299035
107      BEL     TOT  MLN_USD  1973   24400.866156
108      BEL     TOT  MLN_USD  1974   27696.621508
109      BEL     TOT  MLN_USD  1975   30262.146941
110      BEL     TOT  MLN_USD  1976   33545.148924
111      BEL     TOT  MLN_USD  1977   36667.133383
112      BEL     TOT  MLN_USD  1978   40197.446178
113      BEL     TOT  MLN_USD  1979   46014.688827
114      BEL     TOT  MLN_USD  1980   50555.602952
115      BEL     TOT  MLN_USD  1981   55314.883713
116      BEL     TOT  MLN_USD  1982   59811.181315
117      BEL     TOT  MLN_USD  1983   62261.738387
118      BEL     TOT  MLN_USD  1984   64851.677679
119      BEL     TOT  MLN_USD  1985   68931.830070
120      BEL     TOT  MLN_USD  1986   72346.533869
121      BEL     TOT  MLN_USD  1987   75871.164878
122      BEL     TOT  MLN_USD  1988   81451.973368
123      BEL     TOT  MLN_USD  1989   87820.697429
124      BEL     TOT  MLN_USD  1990   94586.692490
125      BEL     TOT  MLN_USD  1991  100701.401415
126      BEL     TOT  MLN_USD  1992  105358.542349
127      BEL     TOT  MLN_USD  1993  107498.720379
128      BEL     TOT  MLN_USD  1994  112370.121636
129      BEL     TOT  MLN_USD  1995  116544.355879
130      BEL     TOT  MLN_USD  1996  120033.782071
131      BEL     TOT  MLN_USD  1997  123455.461385
132      BEL     TOT  MLN_USD  1998  126597.613636
133      BEL     TOT  MLN_USD  1999  130953.821840
134      BEL     TOT  MLN_USD  2000  145011.115125
135      BEL     TOT  MLN_USD  2001  149756.922783
136      BEL     TOT  MLN_USD  2002  154595.415439
137      BEL     TOT  MLN_USD  2003  155342.919959
138      BEL     TOT  MLN_USD  2004  161816.595793
139      BEL     TOT  MLN_USD  2005  168463.132583
140      BEL     TOT  MLN_USD  2006  176459.047487
141      BEL     TOT  MLN_USD  2007  184296.199091
142      BEL     TOT  MLN_USD  2008  194581.594590
143      BEL     TOT  MLN_USD  2009  197019.418937
144      BEL     TOT  MLN_USD  2010  208903.984576
145      BEL     TOT  MLN_USD  2011  220029.938670
146      BEL     TOT  MLN_USD  2012  227142.109252
147      BEL     TOT  MLN_USD  2013  236572.936466
148      BEL     TOT  MLN_USD  2014  242820.828953
149      BEL     TOT  MLN_USD  2015  247220.120938
150      BEL     TOT  MLN_USD  2016  258303.999159
151      BEL     TOT  MLN_USD  2017  267251.809931
152      BEL     TOT  MLN_USD  2018  281506.127953
153      BEL     TOT  MLN_USD  2019  296378.488856
154      BEL     TOT  MLN_USD  2020  276223.455009
155      BEL     TOT  MLN_USD  2021  296767.045455
    LOCATION SUBJECT  MEASURE  TIME         Value
156      CAN     TOT  MLN_USD  1970  5.042480e+04
157      CAN     TOT  MLN_USD  1971  5.560040e+04
158      CAN     TOT  MLN_USD  1972  6.144106e+04
159      CAN     TOT  MLN_USD  1973  6.910835e+04
160      CAN     TOT  MLN_USD  1974  8.011548e+04
161      CAN     TOT  MLN_USD  1975  9.010842e+04
162      CAN     TOT  MLN_USD  1976  9.992555e+04
163      CAN     TOT  MLN_USD  1977  1.093828e+05
164      CAN     TOT  MLN_USD  1978  1.204840e+05
165      CAN     TOT  MLN_USD  1979  1.341907e+05
166      CAN     TOT  MLN_USD  1980  1.511792e+05
167      CAN     TOT  MLN_USD  1981  1.666948e+05
168      CAN     TOT  MLN_USD  1982  1.714412e+05
169      CAN     TOT  MLN_USD  1983  1.831958e+05
170      CAN     TOT  MLN_USD  1984  1.974120e+05
171      CAN     TOT  MLN_USD  1985  2.143102e+05
172      CAN     TOT  MLN_USD  1986  2.264667e+05
173      CAN     TOT  MLN_USD  1987  2.424961e+05
174      CAN     TOT  MLN_USD  1988  2.623648e+05
175      CAN     TOT  MLN_USD  1989  2.831615e+05
176      CAN     TOT  MLN_USD  1990  2.996463e+05
177      CAN     TOT  MLN_USD  1991  3.062150e+05
178      CAN     TOT  MLN_USD  1992  3.192280e+05
179      CAN     TOT  MLN_USD  1993  3.332585e+05
180      CAN     TOT  MLN_USD  1994  3.500477e+05
181      CAN     TOT  MLN_USD  1995  3.654394e+05
182      CAN     TOT  MLN_USD  1996  3.843371e+05
183      CAN     TOT  MLN_USD  1997  4.101428e+05
184      CAN     TOT  MLN_USD  1998  4.247220e+05
185      CAN     TOT  MLN_USD  1999  4.478702e+05
186      CAN     TOT  MLN_USD  2000  4.749228e+05
187      CAN     TOT  MLN_USD  2001  4.960950e+05
188      CAN     TOT  MLN_USD  2002  5.194953e+05
189      CAN     TOT  MLN_USD  2003  5.437555e+05
190      CAN     TOT  MLN_USD  2004  5.743104e+05
191      CAN     TOT  MLN_USD  2005  6.127016e+05
192      CAN     TOT  MLN_USD  2006  6.329919e+05
193      CAN     TOT  MLN_USD  2007  6.778838e+05
194      CAN     TOT  MLN_USD  2008  6.931871e+05
195      CAN     TOT  MLN_USD  2009  6.950272e+05
196      CAN     TOT  MLN_USD  2010  7.328430e+05
197      CAN     TOT  MLN_USD  2011  7.720397e+05
198      CAN     TOT  MLN_USD  2012  7.970993e+05
199      CAN     TOT  MLN_USD  2013  8.169276e+05
200      CAN     TOT  MLN_USD  2014  8.488519e+05
201      CAN     TOT  MLN_USD  2015  8.585204e+05
202      CAN     TOT  MLN_USD  2016  9.107276e+05
203      CAN     TOT  MLN_USD  2017  9.557987e+05
204      CAN     TOT  MLN_USD  2018  1.005492e+06
205      CAN     TOT  MLN_USD  2019  1.006629e+06
206      CAN     TOT  MLN_USD  2020  9.585678e+05
207      CAN     TOT  MLN_USD  2021  1.029332e+06
    LOCATION SUBJECT  MEASURE  TIME          Value
895      NLD     TOT  MLN_USD  1970   30708.913196
896      NLD     TOT  MLN_USD  1971   33023.146429
897      NLD     TOT  MLN_USD  1972   35037.523980
898      NLD     TOT  MLN_USD  1973   38628.147442
899      NLD     TOT  MLN_USD  1974   44012.335569
900      NLD     TOT  MLN_USD  1975   49114.491204
901      NLD     TOT  MLN_USD  1976   54670.278472
902      NLD     TOT  MLN_USD  1977   60627.354894
903      NLD     TOT  MLN_USD  1978   67834.706583
904      NLD     TOT  MLN_USD  1979   74803.887608
905      NLD     TOT  MLN_USD  1980   82790.543366
906      NLD     TOT  MLN_USD  1981   88055.362175
907      NLD     TOT  MLN_USD  1982   91602.598666
908      NLD     TOT  MLN_USD  1983   96701.558826
909      NLD     TOT  MLN_USD  1984  100960.949648
910      NLD     TOT  MLN_USD  1985  105934.888656
911      NLD     TOT  MLN_USD  1986  110802.658141
912      NLD     TOT  MLN_USD  1987  116590.235529
913      NLD     TOT  MLN_USD  1988  123025.861370
914      NLD     TOT  MLN_USD  1989  132449.840431
915      NLD     TOT  MLN_USD  1990  143850.132468
916      NLD     TOT  MLN_USD  1991  152685.145360
917      NLD     TOT  MLN_USD  1992  157876.890445
918      NLD     TOT  MLN_USD  1993  163121.648479
919      NLD     TOT  MLN_USD  1994  169774.480654
920      NLD     TOT  MLN_USD  1995  177968.007825
921      NLD     TOT  MLN_USD  1996  190606.402080
922      NLD     TOT  MLN_USD  1997  202180.653742
923      NLD     TOT  MLN_USD  1998  217446.630536
924      NLD     TOT  MLN_USD  1999  233735.093621
925      NLD     TOT  MLN_USD  2000  255691.344033
926      NLD     TOT  MLN_USD  2001  264959.420081
927      NLD     TOT  MLN_USD  2002  278092.462713
928      NLD     TOT  MLN_USD  2003  274762.308255
929      NLD     TOT  MLN_USD  2004  287280.325689
930      NLD     TOT  MLN_USD  2005  297382.089872
931      NLD     TOT  MLN_USD  2006  310098.451518
932      NLD     TOT  MLN_USD  2007  327502.957119
933      NLD     TOT  MLN_USD  2008  340300.090351
934      NLD     TOT  MLN_USD  2009  327091.000405
935      NLD     TOT  MLN_USD  2010  329747.796766
936      NLD     TOT  MLN_USD  2011  337779.689555
937      NLD     TOT  MLN_USD  2012  336653.582458
938      NLD     TOT  MLN_USD  2013  344237.375689
939      NLD     TOT  MLN_USD  2014  345072.314406
940      NLD     TOT  MLN_USD  2015  349850.597960
941      NLD     TOT  MLN_USD  2016  362029.159366
942      NLD     TOT  MLN_USD  2017  380104.619812
943      NLD     TOT  MLN_USD  2018  404756.273958
944      NLD     TOT  MLN_USD  2019  418553.138348
945      NLD     TOT  MLN_USD  2020  398834.068772
946      NLD     TOT  MLN_USD  2021  423057.773201

,YEAR,AUShousehold_spend_mln,AUThousehold_spend_mln,BELhousehold_spend_mln,CANhousehold_spend_mln,NLDhousehold_spend_mln
0,1970,30476.510257,NaN,NaN,NaN,NaN
1,1971,32799.844017,NaN,NaN,NaN,NaN
2,1972,35590.183565,NaN,NaN,NaN,NaN
3,1973,41114.456624,NaN,NaN,NaN,NaN
4,1974,48461.851872,NaN,NaN,NaN,NaN
5,1975,52423.961400,NaN,NaN,NaN,NaN
6,1976,56900.985131,NaN,NaN,NaN,NaN
7,1977,61232.679942,NaN,NaN,NaN,NaN
8,1978,66856.777025,NaN,NaN,NaN,NaN
9,1979,74341.227769,NaN,NaN,NaN,NaN
10,1980,84610.820174,NaN,NaN,NaN,NaN
11,1981,97471.726119,NaN,NaN,NaN,NaN
12,1982,105755.748306,NaN,NaN,NaN,NaN
13,1983,109590.118116,NaN,NaN,NaN,NaN
14,1984,113898.977822,NaN,NaN,NaN,NaN
15,1985,124529.775230,NaN,NaN,NaN,NaN
16,1986,130248.949813,NaN,NaN,NaN,NaN
17,1987,137662.806790,NaN,NaN,NaN,NaN
18,1988,149366.901166,NaN,NaN,NaN,NaN
19,1989,162749.855492,NaN,NaN,NaN,NaN
20,1990,169853.765646,NaN,NaN,NaN,NaN
21,1991,177805.033539,NaN,NaN,NaN,NaN
22,1992,185891.953809,NaN,NaN,NaN,NaN
23,1993,194157.359581,NaN,NaN,NaN,NaN
24,1994,207909.459784,NaN,NaN,NaN,NaN
25,1995,219388.825412,NaN,NaN,NaN,NaN
26,1996,229298.957508,NaN,NaN,NaN,NaN
27,1997,245206.343554,NaN,NaN,NaN,NaN
28,1998,259904.750783,NaN,NaN,NaN,NaN
29,1999,276904.420280,NaN,NaN,NaN,NaN
30,2000,296144.255307,NaN,NaN,NaN,NaN
31,2001,308322.302541,NaN,NaN,NaN,NaN
32,2002,325842.256253,NaN,NaN,NaN,NaN
33,2003,340377.571223,NaN,NaN,NaN,NaN
34,2004,365384.965378,NaN,NaN,NaN,NaN
35,2005,382676.631347,NaN,NaN,NaN,NaN
36,2006,407588.979330,NaN,NaN,NaN,NaN
37,2007,438388.987210,NaN,NaN,NaN,NaN
38,2008,444942.230315,NaN,NaN,NaN,NaN
39,2009,465988.600277,NaN,NaN,NaN,NaN
40,2010,491893.346534,NaN,NaN,NaN,NaN
41,2011,526988.163578,NaN,NaN,NaN,NaN
42,2012,543065.524427,NaN,NaN,NaN,NaN
43,2013,577621.553109,NaN,NaN,NaN,NaN
44,2014,595208.682962,NaN,NaN,NaN,NaN
45,2015,611257.658170,NaN,NaN,NaN,NaN
46,2016,637321.742774,NaN,NaN,NaN,NaN
47,2017,650660.331484,NaN,NaN,NaN,NaN
48,2018,673616.626363,NaN,NaN,NaN,NaN
49,2019,651797.857468,NaN,NaN,NaN,NaN
50,2020,669369.661746,NaN,NaN,NaN,NaN
51,2021,721316.817303,NaN,NaN,NaN,NaN

In [48]:
# house_spend_df_dropped['LOCATION'].unique()
house_spend_df_dropped.head()
# Keep only the countries with minyear = 1970 and maxyear as 2021
# and export that as a csv
# change the value to HOUSESPEND

final_df = house_spend_df_dropped.loc[house_spend_df_dropped.MINYEAR == 1970]
final_df = final_df.loc[final_df.MAXYEAR == 2021]

# house_spend_df_dropped.rename(columns={'Value': 'HOUSESPEND'})
final_df['LOCATION'].unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'DNK', 'FIN', 'FRA', 'DEU', 'GRC',
       'ISL', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX', 'NLD', 'NZL',
       'NOR', 'PRT', 'ESP', 'SWE', 'CHE', 'TUR', 'GBR', 'USA'],
      dtype=object)

In [54]:
final_df.head()
final_df = final_df.rename(columns={'Value': 'HOUSESPEND'})

In [58]:
from pathlib import Path 
filepath = Path('../cleaned-data/household_spend_cleaned.csv')
final_df = final_df[['LOCATION','TIME','HOUSESPEND']]
final_df.to_csv(filepath)