In [1]:
import pandas as pd
house_spend_df = pd.read_csv('../data/uncleaned/household_spend.csv')
house_spend_df.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME         Value Flag Codes
0      AUS     HHEXP     TOT  MLN_USD         A  1970  30476.510257        NaN
1      AUS     HHEXP     TOT  MLN_USD         A  1971  32799.844017        NaN
2      AUS     HHEXP     TOT  MLN_USD         A  1972  35590.183565        NaN
3      AUS     HHEXP     TOT  MLN_USD         A  1973  41114.456624        NaN
4      AUS     HHEXP     TOT  MLN_USD         A  1974  48461.851872        NaN

Checking Values in Each column of the Dataset

In [2]:
print('Number of rows',house_spend_df.shape[0])
print('Number of unique values in each column')
# print(house_spend_df.nunique())
print('Unique value of LOCATION column',house_spend_df['LOCATION'].value_counts())
print('Unique value of SUBJECT column',house_spend_df['SUBJECT'].value_counts())
print('Unique value of MEASURE column',house_spend_df['MEASURE'].value_counts())
print('Unique value of TIME column',house_spend_df['TIME'].value_counts())

Number of rows 8938
Number of unique values in each column
Unique value of LOCATION column AUS     260
USA     259
FIN     257
FRA     255
KOR     254
NOR     254
SWE     240
CAN     239
DNK     238
GRC     238
NLD     238
GBR     237
ESP     237
AUT     237
PRT     237
LUX     237
ITA     237
IRL     237
DEU     237
BEL     237
JPN     235
CHE     235
NZL     229
MEX     226
TUR     207
ZAF     204
ISL     187
ISR     162
POL     157
CZE     157
SVN     156
HUN     153
SVK     148
EST     144
IND     139
LVA     139
LTU     137
EA      133
EU      133
CRI     131
RUS     123
CHL     108
IDN     101
COL      87
OAVG     87
BRA      79
CHN      76
Name: LOCATION, dtype: int64
Unique value of SUBJECT column TOT          6002
GOVTRANSF    1875
HOUSING      1061
Name: SUBJECT, dtype: int64
Unique value of MEASURE column PC_GDP     3957
AGRWTH     1965
MLN_USD    1955
PC_DI      1061
Name: MEASURE, dtype: int64
Unique value of TIME column 2019    221
2018    221
2017    221
2016    221
2015    221
2014    221
2013    221
2012    219
2011    218
2010    216
2006    214
2003    214
2004    214
2005    214
2009    214
2007    214
2008    214
2002    213
2001    213
1999    212
2000    212
1998    210
1997    209
1996    209
2020    209
1995    202
2021    200
1994    164
1993    156
1992    148
1991    146
1990    135
1989    122
1988    120
1987    120
1986    119
1981    118
1978    118
1979    118
1980    118
1982    118
1984    118
1985    118
1983    118
1977    115
1976    115
1975    115
1971    113
1974    113
1973    113
1972    113
1970     94
2022     86
Name: TIME, dtype: int64

### Dropping Columns with irrelevant values
Flag Codes  
Frequency  
INDICATOR column  
TOT valued rows in SUBJECT  
MLN_USD valued rows in MEASURE

In [3]:
print('Unique value of Flag Codes column',house_spend_df['Flag Codes'].unique())
# Unique value of Flag Codes column [nan 'E' 'B']
# Dropping Flag Codes
house_spend_df = house_spend_df.drop('Flag Codes',axis=1)

Unique value of Flag Codes column [nan 'E' 'B']

In [4]:
print('Unique value of FREQUENCY column',house_spend_df['FREQUENCY'].unique())
# Unique value of FREQUENCY column ['A']
# Dropping FREQUENCY
house_spend_df = house_spend_df.drop('FREQUENCY',axis=1)

Unique value of FREQUENCY column ['A']

In [5]:
print('Unique value of INDICATOR column',house_spend_df['INDICATOR'].unique())
# Unique value of INDICATOR column ['HHEXP']
# Dropping INDICATOR
house_spend_df = house_spend_df.drop('INDICATOR',axis=1)

Unique value of INDICATOR column ['HHEXP']

In [6]:
house_spend_df_dropped = house_spend_df[house_spend_df['SUBJECT'] == 'TOT']
house_spend_df_dropped = house_spend_df_dropped[house_spend_df_dropped['MEASURE'] == 'MLN_USD']

In [7]:
print('Number of nan values in Value column',house_spend_df_dropped['Value'].isnull().sum())
print('Type of data in Value column that are not float',(house_spend_df_dropped['Value'].map(type)!= float).sum())

Number of nan values in Value column 0
Type of data in Value column that are not float 0

In [8]:
house_spend_df_dropped.head() 
house_spend_df_dropped.shape

(1955, 5)

In [9]:
house_spend_df.head()
house_spend_df.shape

(8938, 5)

In [10]:
min_high = 1
min_high_country = ''
max_low = 9999
max_low_country  = ''

for country in house_spend_df.LOCATION.unique():
    #print(country)
    tempdf = house_spend_df[house_spend_df['LOCATION']==country]
    minyear = int(tempdf.TIME.min())
    if(min_high<minyear):
        min_high=minyear
        min_high_country = country

    maxyear = int(tempdf.TIME.max())
    if(max_low>maxyear):
        max_low=maxyear
        max_low_country = country
    missingyear = []
    for i in range(minyear,maxyear):
        if((tempdf['TIME']==str(i)).any() == False):
            tempseries = pd.Series([str(i)])
            missingyear = pd.Series(missingyear)
            pd.concat([missingyear, tempseries])

    print('Country = ', country, 'Minimum Year = ',minyear, 'Maximum Year = ', maxyear, 'Missing Years = ', missingyear)

print('Highest Min = ', min_high, ' Country = ', min_high_country)
print('Lowest Max = ', max_low, ' Country = ', max_low_country )

C:\Users\unair2\AppData\Local\Temp\ipykernel_29912\3875225121.py:22: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  missingyear = pd.Series(missingyear)

Country =  AUS Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  AUT Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  BEL Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CAN Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CZE Minimum Year =  1990 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  DNK Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  FIN Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  FRA Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  DEU Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  GRC Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  HUN Minimum Year =  1991 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ISL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IRL Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ITA Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  JPN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  KOR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  LUX Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  MEX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NLD Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  NZL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NOR Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  POL Minimum Year =  1990 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  PRT Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  SVK Minimum Year =  1990 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ESP Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  SWE Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CHE Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  TUR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GBR Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  USA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHL Minimum Year =  1986 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHN Minimum Year =  1978 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  COL Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EST Minimum Year =  1993 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  IND Minimum Year =  1970 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  IDN Minimum Year =  1993 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ISR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  RUS Minimum Year =  1989 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  SVN Minimum Year =  1990 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ZAF Minimum Year =  1970 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  EA Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  EU Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  LVA Minimum Year =  1994 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  BRA Minimum Year =  1995 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  LTU Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CRI Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  OAVG Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Highest Min =  1995  Country =  COL
Lowest Max =  2019  Country =  IND

Checking for missing values in between year ranges for each country

In [11]:
# house_spend_df_dropped
min_high = 1
min_high_country = ''
max_low = 9999
max_low_country  = ''

for country in house_spend_df_dropped.LOCATION.unique():
    #print(country)
    tempdf = house_spend_df_dropped[house_spend_df_dropped['LOCATION']==country]
    minyear = int(tempdf.TIME.min())
    if(min_high<minyear):
        min_high=minyear
        min_high_country = country

    maxyear = int(tempdf.TIME.max())
    if(max_low>maxyear):
        max_low=maxyear
        max_low_country = country
    missingyear = []
    for i in range(minyear,maxyear):
        if((tempdf['TIME']==str(i)).any() == False):
            tempseries = pd.Series([str(i)])
            missingyear = pd.Series(missingyear)
            pd.concat([missingyear, tempseries])

    print('Country = ', country, 'Minimum Year = ',minyear, 'Maximum Year = ', maxyear, 'Missing Years = ', missingyear)
    house_spend_df_dropped.loc[house_spend_df_dropped.LOCATION == country, 'MAXYEAR'] = maxyear
    house_spend_df_dropped.loc[house_spend_df_dropped.LOCATION == country, 'MINYEAR'] = minyear
#     house_spend_df_dropped['MINYEAR'] = minyear
#     house_spend_df_dropped['MAXYEAR'] = maxyear
    
print('Highest Min = ', min_high, ' Country = ', min_high_country)
print('Lowest Max = ', max_low, ' Country = ', max_low_country )

Country =

C:\Users\unair2\AppData\Local\Temp\ipykernel_29912\3001009276.py:23: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  missingyear = pd.Series(missingyear)
C:\Users\unair2\AppData\Local\Temp\ipykernel_29912\3001009276.py:23: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  missingyear = pd.Series(missingyear)

 AUS Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  AUT Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BEL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CAN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CZE Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  DNK Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  FIN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  FRA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  DEU Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GRC Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  HUN Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ISL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IRL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ITA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  JPN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  KOR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  LUX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  MEX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NLD Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NZL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NOR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  POL Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  PRT Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  SVK Minimum Year =  1993 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ESP Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  SWE Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHE Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  TUR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GBR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  USA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHL Minimum Year =  1994 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CHN Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  COL Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EST Minimum Year =  1994 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IND Minimum Year =  1990 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  IDN Minimum Year =  1993 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ISR Minimum Year =  1990 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  RUS Minimum Year =  1995 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  SVN Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ZAF Minimum Year =  1970 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  LVA Minimum Year =  1994 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BRA Minimum Year =  1995 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  LTU Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CRI Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EA Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EU Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Highest Min =  1995  Country =  COL
Lowest Max =  2019  Country =  IND

CODE for selection of data from a specific date range

In [12]:
# house_spend_df_dropped['LOCATION'].unique()
# house_spend_df_dropped.head()
# Keep only the countries with minyear = 1970 and maxyear as 2021
# and export that as a csv
# change the value to HOUSESPEND

# final_df = house_spend_df_dropped.loc[house_spend_df_dropped.MINYEAR == 1970]
# final_df = final_df.loc[final_df.MAXYEAR == 2021]

# house_spend_df_dropped.rename(columns={'Value': 'HOUSESPEND'})
# final_df['LOCATION'].unique()

In [13]:
final_df = house_spend_df_dropped
final_df.head()

  LOCATION SUBJECT  MEASURE  TIME         Value  MAXYEAR  MINYEAR
0      AUS     TOT  MLN_USD  1970  30476.510257   2021.0   1970.0
1      AUS     TOT  MLN_USD  1971  32799.844017   2021.0   1970.0
2      AUS     TOT  MLN_USD  1972  35590.183565   2021.0   1970.0
3      AUS     TOT  MLN_USD  1973  41114.456624   2021.0   1970.0
4      AUS     TOT  MLN_USD  1974  48461.851872   2021.0   1970.0

In [14]:
# final_df = final_df.rename(columns={'Value': 'HOUSESPEND'})
final_df.head()
final_df = final_df[['LOCATION','TIME','Value']]
final_df.shape

(1955, 3)

In [15]:
from pathlib import Path 
filepath = Path('../data/temp/household_spend_cleaned.csv')
final_df.to_csv(filepath)