In [1]:
import pandas as pd

In [2]:
ir = pd.read_csv('../data/uncleaned/long_term_ir.csv')
ir

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,PRT,LTINT,TOT,PC_PA,A,1994,10.478330,NaN
1,PRT,LTINT,TOT,PC_PA,A,1995,11.465000,NaN
2,PRT,LTINT,TOT,PC_PA,A,1996,8.559167,NaN
3,PRT,LTINT,TOT,PC_PA,A,1997,6.358333,NaN
4,PRT,LTINT,TOT,PC_PA,A,1998,4.877500,NaN
...,...,...,...,...,...,...,...,...
27434,ROU,LTINT,TOT,PC_PA,M,2022-10,9.130000,NaN
27435,ROU,LTINT,TOT,PC_PA,M,2022-11,7.650000,NaN
27436,ROU,LTINT,TOT,PC_PA,M,2022-12,7.170000,NaN
27437,ROU,LTINT,TOT,PC_PA,M,2023-01,6.800000,NaN
27438,ROU,LTINT,TOT,PC_PA,M,2023-02,7.460000,NaN

In [3]:
for col in ir.keys():
    ir[col]
    print(col,ir[col].isnull().values.any())

LOCATION False
INDICATOR False
SUBJECT False
MEASURE False
FREQUENCY False
TIME False
Value False
Flag Codes True

In [4]:
ir.nunique()

LOCATION         47
INDICATOR         1
SUBJECT           1
MEASURE           1
FREQUENCY         3
TIME           1187
Value         13034
Flag Codes        1
dtype: int64

In [6]:
group = ir[(ir['FREQUENCY']=='A')]
print(group.shape)

(1587, 8)

In [7]:
group

      LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value Flag Codes
0          PRT     LTINT     TOT   PC_PA         A  1994  10.478330        NaN
1          PRT     LTINT     TOT   PC_PA         A  1995  11.465000        NaN
2          PRT     LTINT     TOT   PC_PA         A  1996   8.559167        NaN
3          PRT     LTINT     TOT   PC_PA         A  1997   6.358333        NaN
4          PRT     LTINT     TOT   PC_PA         A  1998   4.877500        NaN
...        ...       ...     ...     ...       ...   ...        ...        ...
26551      ROU     LTINT     TOT   PC_PA         A  2018   4.686666        NaN
26552      ROU     LTINT     TOT   PC_PA         A  2019   4.539166        NaN
26553      ROU     LTINT     TOT   PC_PA         A  2020   3.893333        NaN
26554      ROU     LTINT     TOT   PC_PA         A  2021   3.625000        NaN
26555      ROU     LTINT     TOT   PC_PA         A  2022   7.481667        NaN

[1587 rows x 8 columns]

In [8]:
min_year = 2001
# int(group['time'].min())
max_year = int(group['TIME'].max())
sorted_cont = group['LOCATION'].unique()
sorted_cont.sort()
for cont in sorted_cont:
    years = []
    for y in range(min_year,max_year):
        if (str(y) not in group[group['LOCATION']==cont]['TIME'].astype("string").values):
            years.append(y)
    if len(years)!=0:
        print(cont, years)

BGR [2001, 2002]
CHL [2001, 2002, 2003, 2004]
CHN [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]
COL [2001, 2002]
CRI [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2020, 2021]
EST [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
HRV [2001, 2002, 2003, 2004, 2005]
IDN [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011]
IND [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011]
MEX [2001, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
ROU [2001, 2002, 2003, 2004, 2005]
RUS [2018, 2019, 2020, 2021]
SVN [2001, 2002]

In [9]:
group.drop(['INDICATOR','SUBJECT','MEASURE','FREQUENCY','Flag Codes'],axis=1,errors='ignore')

      LOCATION  TIME      Value
0          PRT  1994  10.478330
1          PRT  1995  11.465000
2          PRT  1996   8.559167
3          PRT  1997   6.358333
4          PRT  1998   4.877500
...        ...   ...        ...
26551      ROU  2018   4.686666
26552      ROU  2019   4.539166
26553      ROU  2020   3.893333
26554      ROU  2021   3.625000
26555      ROU  2022   7.481667

[1587 rows x 3 columns]