In [18]:
import pandas as pd
trade_in_gs_df = pd.read_csv('../data/uncleaned/trade_in_gs.csv')
trade_in_gs_df.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,TRADEGOODSERV,EXP,PC_GDP,A,1970,12.639948,NaN
1,AUS,TRADEGOODSERV,EXP,PC_GDP,A,1971,12.804166,NaN
2,AUS,TRADEGOODSERV,EXP,PC_GDP,A,1972,14.130588,NaN
3,AUS,TRADEGOODSERV,EXP,PC_GDP,A,1973,13.129121,NaN
4,AUS,TRADEGOODSERV,EXP,PC_GDP,A,1974,14.258448,NaN

Checking the count of values in each column

In [4]:
print('Number of rows',trade_in_gs_df.shape[0])
print('Number of unique values in each column')
print(trade_in_gs_df.nunique())
print('Unique value of LOCATION column',trade_in_gs_df['LOCATION'].unique())
print('Unique value of INDICATOR column',trade_in_gs_df['INDICATOR'].unique())
print('Unique value of SUBJECT column',trade_in_gs_df['SUBJECT'].unique())
print('Unique value of MEASURE column',trade_in_gs_df['MEASURE'].unique())
print('Unique value of FREQUENCY column',trade_in_gs_df['FREQUENCY'].unique())
print('Unique value of TIME column',trade_in_gs_df['TIME'].unique())
print('Unique value of Value column',trade_in_gs_df['Value'].unique())
print('Unique value of Flag Codes column',trade_in_gs_df['Flag Codes'].unique())

Number of rows 16103
Number of unique values in each column
LOCATION         68
INDICATOR         1
SUBJECT           3
MEASURE           3
FREQUENCY         1
TIME             73
Value         16100
Flag Codes        4
dtype: int64
Unique value of LOCATION column ['AUS' 'AUT' 'BEL' 'CAN' 'CZE' 'DNK' 'FIN' 'FRA' 'DEU' 'GRC' 'HUN' 'ISL'
 'IRL' 'ITA' 'JPN' 'KOR' 'LUX' 'MEX' 'NLD' 'NZL' 'NOR' 'POL' 'PRT' 'SVK'
 'ESP' 'SWE' 'CHE' 'TUR' 'GBR' 'USA' 'CHL' 'CHN' 'EST' 'IND' 'IDN' 'ISR'
 'RUS' 'SVN' 'ZAF' 'EA' 'EU' 'BRA' 'ARG' 'COL' 'LVA' 'LTU' 'OECD' 'OECDE'
 'EA19' 'CRI' 'BGR' 'HRV' 'CYP' 'MLT' 'ROU' 'OAVG' 'MKD' 'HKG' 'MDG' 'MAR'
 'SGP' 'EU27_2020' 'SAU' 'SRB' 'ALB' 'GEO' 'CMR' 'SEN']
Unique value of INDICATOR column ['TRADEGOODSERV']
Unique value of SUBJECT column ['EXP' 'IMP' 'NTRADE']
Unique value of MEASURE column ['PC_GDP' 'AGRWTH' 'MLN_USD']
Unique value of FREQUENCY column ['A']
Unique value of TIME column [1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 1959 1960 1961
 1962 1963 1964 1965 1966 1967 1968 1969 1950 1951 1952 1953 1954 1955
 1956 1957 1958]
Unique value of Value column [   12.63994848    12.80416629    14.1305875  ... -3640.794
 -3503.946      -4891.864     ]
Unique value of Flag Codes column [nan 'E' 'B' 'P' 'D']

### Dropping columns with single values and rows with irrelevant values in specific columns
Dropping INDICATOR column  
Dropping Flag Codes column  
Dropping FREQUENCY column  
Keeping MLN_USD in MEASURE column

In [5]:
print('Unique value of INDICATOR column',trade_in_gs_df['INDICATOR'].unique())
# Unique value of INDICATOR column ['TRADEGOODSERV']
# Hence dropping INDICATOR
trade_in_gs_df = trade_in_gs_df.drop('INDICATOR',axis=1)

Unique value of INDICATOR column ['TRADEGOODSERV']

In [6]:
print('Unique value of Flag Codes column',trade_in_gs_df['Flag Codes'].unique())
# Unique value of Flag Codes column [nan 'E' 'B' 'P' 'D']
# Hence dropping Flag Codes
trade_in_gs_df = trade_in_gs_df.drop('Flag Codes',axis=1)

Unique value of Flag Codes column [nan 'E' 'B' 'P' 'D']

In [7]:
trade_in_gs_df.drop('FREQUENCY',axis=1, inplace = True)

In [8]:
# trade_in_gs_df.drop('FREQUENCY',axis=1, inplace = True)
# PC_GDP' 'AGRWTH' 'MLN_USD'
trade_in_gs_df = trade_in_gs_df[trade_in_gs_df.MEASURE == 'MLN_USD']

Splitting SUBJECT column to EXP, IMP, NTRADE dataframes  
Then renaming the columns and merging it to make EXP, IMP, NTRADE as 3 columns

In [10]:
print('EXP',trade_in_gs_df[trade_in_gs_df.SUBJECT == 'EXP'].shape[0])
print('IMP',trade_in_gs_df[trade_in_gs_df.SUBJECT == 'IMP'].shape[0])
print('NTRADE',trade_in_gs_df[trade_in_gs_df.SUBJECT == 'NTRADE'].shape[0])
trade_in_gs_imp_df = trade_in_gs_df[trade_in_gs_df.SUBJECT == 'EXP']
trade_in_gs_exp_df = trade_in_gs_df[trade_in_gs_df.SUBJECT == 'IMP']
trade_in_gs_ntr_df = trade_in_gs_df[trade_in_gs_df.SUBJECT == 'NTRADE']
print(trade_in_gs_imp_df.head())
# print('trade_in_gs_exp_df',trade_in_gs_exp_df.head())
# print('trade_in_gs_ntr_df',trade_in_gs_ntr_df.head())

EXP 2641
IMP 2641
NTRADE 2641
     LOCATION SUBJECT  MEASURE  TIME      Value
7546      AUS     EXP  MLN_USD  1959  12041.643
7547      AUS     EXP  MLN_USD  1960  12642.489
7548      AUS     EXP  MLN_USD  1961  14354.739
7549      AUS     EXP  MLN_USD  1962  14034.969
7550      AUS     EXP  MLN_USD  1963  16349.677

In [12]:
# creating 3 columns with export, import and net trade values
trade_in_gs_imp_df = trade_in_gs_imp_df.rename(columns={'Value': 'IMPVAL'})
trade_in_gs_exp_df = trade_in_gs_exp_df.rename(columns={'Value': 'EXPVAL'})
trade_in_gs_ntr_df = trade_in_gs_ntr_df.rename(columns={'Value': 'NTRVAL'})

# merging the three dataframes to make one single df with the three columns as features
final_df = pd.merge(trade_in_gs_imp_df, trade_in_gs_exp_df,how='outer',on=['LOCATION','TIME'])
final_df = pd.merge(final_df,trade_in_gs_ntr_df,how='outer',on=['LOCATION','TIME'])
# trade_in_gs_imp_df.head()
# trade_in_gs_exp_df.head()
# trade_in_gs_ntr_df.head()
# final_df.head()
final_df.isna().sum().sum()

0

In [13]:
min_high = 1
min_high_trade = ''
max_low = 9999
max_low_trade  = ''

for country in final_df.LOCATION.unique():
    #print(country)
    tempdf = final_df[final_df['LOCATION']==country]
    minyear = int(tempdf.TIME.min())
    if(min_high<minyear):
        min_high=minyear
        min_high_trade = country

    maxyear = int(tempdf.TIME.max())
    if(max_low>maxyear):
        max_low=maxyear
        max_low_trade = country
    missingyear = []
    for i in range(minyear,maxyear):
        if((tempdf['TIME']==str(i)).any() == False):
            tempseries = pd.Series([str(i)])
            missingyear = pd.Series(missingyear)
            pd.concat([missingyear, tempseries])

    print('Country = ', country, 'Minimum Year = ',minyear, 'Maximum Year = ', maxyear, 'Missing Years = ', missingyear)

print('Highest Min = ', min_high, ' Country = ', min_high_trade)
print('Lowest Max = ', max_low, ' Country = ', max_low_trade )

C:\Users\unair2\AppData\Local\Temp\ipykernel_22080\3074799710.py:22: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  missingyear = pd.Series(missingyear)

Country =  AUS Minimum Year =  1959 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  AUT Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  BEL Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CAN Minimum Year =  1961 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CZE Minimum Year =  1990 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  DNK Minimum Year =  1967 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  FIN Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  FRA Minimum Year =  1950 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  DEU Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  GRC Minimum Year =  1960 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  HUN Minimum Year =  1991 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ISL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IRL Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ITA Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  JPN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  KOR Minimum Year =  1953 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  LUX Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  MEX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NLD Minimum Year =  1969 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  NZL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NOR Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  POL Minimum Year =  1990 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  PRT Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  SVK Minimum Year =  1992 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ESP Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  SWE Minimum Year =  1950 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CHE Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  TUR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GBR Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  USA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ARG Minimum Year =  2004 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BRA Minimum Year =  2000 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  CHL Minimum Year =  1986 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  COL Minimum Year =  1975 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EST Minimum Year =  1993 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  IDN Minimum Year =  1993 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ISR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  LVA Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  LTU Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  RUS Minimum Year =  1995 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  SVN Minimum Year =  1990 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ZAF Minimum Year =  1960 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  OECD Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  OECDE Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EA19 Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CRI Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BGR Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  HRV Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CYP Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  MLT Minimum Year =  2000 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ROU Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  MKD Minimum Year =  2000 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IND Minimum Year =  1950 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  HKG Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  MDG Minimum Year =  2007 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  MAR Minimum Year =  2007 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  SGP Minimum Year =  1960 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  EU27_2020 Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  SAU Minimum Year =  2000 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  SRB Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ALB Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GEO Minimum Year =  2010 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  CMR Minimum Year =  1993 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  SEN Minimum Year =  1999 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Highest Min =  2010  Country =  GEO
Lowest Max =  2019  Country =  BRA

In [14]:
min_high = 1
min_high_trade = ''
max_low = 9999
max_low_trade  = ''

for country in trade_in_gs_exp_df.LOCATION.unique():
    #print(country)
    tempdf = trade_in_gs_exp_df[trade_in_gs_exp_df['LOCATION']==country]
    minyear = int(tempdf.TIME.min())
    if(min_high<minyear):
        min_high=minyear
        min_high_trade = country

    maxyear = int(tempdf.TIME.max())
    if(max_low>maxyear):
        max_low=maxyear
        max_low_trade = country
    missingyear = []
    for i in range(minyear,maxyear):
        if((tempdf['TIME']==str(i)).any() == False):
            tempseries = pd.Series([str(i)])
            missingyear = pd.Series(missingyear)
            pd.concat([missingyear, tempseries])

    print('Country = ', country, 'Minimum Year = ',minyear, 'Maximum Year = ', maxyear, 'Missing Years = ', missingyear)

print('Highest Min = ', min_high, ' Country = ', min_high_trade)
print('Lowest Max = ', max_low, ' Country = ', max_low_trade )

C:\Users\unair2\AppData\Local\Temp\ipykernel_22080\3204560378.py:22: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  missingyear = pd.Series(missingyear)

Country =  AUS Minimum Year =  1959 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  AUT Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  BEL Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CAN Minimum Year =  1961 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CZE Minimum Year =  1990 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  DNK Minimum Year =  1967 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  FIN Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  FRA Minimum Year =  1950 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  DEU Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  GRC Minimum Year =  1960 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  HUN Minimum Year =  1991 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ISL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IRL Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ITA Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  JPN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  KOR Minimum Year =  1953 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  LUX Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  MEX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NLD Minimum Year =  1969 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  NZL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NOR Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  POL Minimum Year =  1990 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  PRT Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  SVK Minimum Year =  1992 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ESP Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  SWE Minimum Year =  1950 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CHE Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  TUR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GBR Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  USA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ARG Minimum Year =  2004 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BRA Minimum Year =  2000 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  CHL Minimum Year =  1986 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  COL Minimum Year =  1975 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EST Minimum Year =  1993 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  IDN Minimum Year =  1993 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ISR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  LVA Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  LTU Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  RUS Minimum Year =  1995 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  SVN Minimum Year =  1990 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ZAF Minimum Year =  1960 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  OECD Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  OECDE Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EA19 Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CRI Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BGR Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  HRV Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CYP Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  MLT Minimum Year =  2000 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ROU Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  MKD Minimum Year =  2000 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IND Minimum Year =  1950 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  HKG Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  MDG Minimum Year =  2007 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  MAR Minimum Year =  2007 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  SGP Minimum Year =  1960 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  EU27_2020 Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  SAU Minimum Year =  2000 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  SRB Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ALB Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GEO Minimum Year =  2010 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  CMR Minimum Year =  1993 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  SEN Minimum Year =  1999 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Highest Min =  2010  Country =  GEO
Lowest Max =  2019  Country =  BRA

In [15]:
min_high = 1
min_high_trade = ''
max_low = 9999
max_low_trade  = ''

for country in trade_in_gs_ntr_df.LOCATION.unique():
    #print(country)
    tempdf = trade_in_gs_ntr_df[trade_in_gs_ntr_df['LOCATION']==country]
    minyear = int(tempdf.TIME.min())
    if(min_high<minyear):
        min_high=minyear
        min_high_trade = country

    maxyear = int(tempdf.TIME.max())
    if(max_low>maxyear):
        max_low=maxyear
        max_low_trade = country
    missingyear = []
    for i in range(minyear,maxyear):
        if((tempdf['TIME']==str(i)).any() == False):
            tempseries = pd.Series([str(i)])
            missingyear = pd.Series(missingyear)
            pd.concat([missingyear, tempseries])

    print('Country = ', country, 'Minimum Year = ',minyear, 'Maximum Year = ', maxyear, 'Missing Years = ', missingyear)

print('Highest Min = ', min_high, ' Country = ', min_high_trade)
print('Lowest Max = ', max_low, ' Country = ', max_low_trade )

C:\Users\unair2\AppData\Local\Temp\ipykernel_22080\1688008070.py:22: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  missingyear = pd.Series(missingyear)

Country =  AUS Minimum Year =  1959 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  AUT Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  BEL Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CAN Minimum Year =  1961 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CZE Minimum Year =  1990 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  DNK Minimum Year =  1967 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  FIN Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  FRA Minimum Year =  1950 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  DEU Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  GRC Minimum Year =  1960 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  HUN Minimum Year =  1991 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ISL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IRL Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ITA Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  JPN Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  KOR Minimum Year =  1953 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  LUX Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  MEX Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NLD Minimum Year =  1969 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  NZL Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  NOR Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  POL Minimum Year =  1990 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  PRT Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  SVK Minimum Year =  1992 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ESP Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  SWE Minimum Year =  1950 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CHE Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  TUR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GBR Minimum Year =  1970 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  USA Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ARG Minimum Year =  2004 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BRA Minimum Year =  2000 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  CHL Minimum Year =  1986 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  COL Minimum Year =  1975 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EST Minimum Year =  1993 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  IDN Minimum Year =  1993 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ISR Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  LVA Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  LTU Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  RUS Minimum Year =  1995 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  SVN Minimum Year =  1990 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  ZAF Minimum Year =  1960 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  OECD Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  OECDE Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  EA19 Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  CRI Minimum Year =  1991 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  BGR Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  HRV Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  CYP Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  MLT Minimum Year =  2000 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ROU Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  MKD Minimum Year =  2000 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  IND Minimum Year =  1950 Maximum Year =  2019 Missing Years =  Series([], dtype: float64)
Country =  HKG Minimum Year =  1970 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  MDG Minimum Year =  2007 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  MAR Minimum Year =  2007 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  SGP Minimum Year =  1960 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  EU27_2020 Minimum Year =  1995 Maximum Year =  2022 Missing Years =  Series([], dtype: float64)
Country =  SAU Minimum Year =  2000 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  SRB Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  ALB Minimum Year =  1995 Maximum Year =  2021 Missing Years =  Series([], dtype: float64)
Country =  GEO Minimum Year =  2010 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  CMR Minimum Year =  1993 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Country =  SEN Minimum Year =  1999 Maximum Year =  2020 Missing Years =  Series([], dtype: float64)
Highest Min =  2010  Country =  GEO
Lowest Max =  2019  Country =  BRA

Dropping the unnecessary columns from the dataframe

In [16]:
final_df.head()
final_df.drop(['SUBJECT_x','MEASURE_x','SUBJECT_y','MEASURE_y','SUBJECT','MEASURE'],axis=1,inplace=True)
final_df.head()

  LOCATION  TIME     IMPVAL     EXPVAL    NTRVAL
0      AUS  1959  12041.643  10820.433  1221.210
1      AUS  1960  12642.489  12174.641   467.848
2      AUS  1961  14354.739  10438.873  3915.866
3      AUS  1962  14034.969  12247.425  1787.544
4      AUS  1963  16349.677  13623.688  2725.988

In [17]:
final_df.shape

(2641, 5)

In [56]:
from pathlib import Path 
filepath = Path('../data/temp/trade_in_gs_cleaned.csv')
# final_df = final_df[['LOCATION','TIME','HOUSESPEND']]
final_df.to_csv(filepath)